/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575.98px){ 
	.display-4 {
	    font-size: 1.5rem;
	    font-weight: 400;
	    line-height: 1.2;
	}

	h3 {
    	font-size: 0.75rem;
	}

	.display-5{
		font-size: 1.05rem;
	}
}
.jumbotron{
	background-color: #181818;
	color: #ffffff;
	margin-bottom: 0;
	border-radius: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #343A40;
    color: #B3B5B7;
    border: 1px solid
}
.container-fluid{
	padding-right: 0px;
    padding-left: 0px;
}
footer{
	color: #FFF;
	background-color: #343A40;
}

ul li a{
	text-decoration: none;
	color: #B3B5B7;
}


ul li a:hover {
	text-decoration: none;
	color:#FFF;
} 